:root {
    --vd: #0f0;
}
html {
    background-color: black;
    font-family: monospace;
    padding: 1vw;
}

body {
    padding: 3% 2%;
    border: 1px solid var(--vd);
}
.terminal {
    display: flex;
    flex-direction: column;
    padding-left: 2.5em;
    color: var(--vd);
    font-size: 1vw;
}
.terminal p{
    padding-bottom: 1vw;
}
.terminal span {
    font-style: oblique;
    text-decoration: underline;
}
.terminal table {
    width: 100%;
    padding: 2%;
    border-spacing: 1.5vw .7vw;
}
.terminal table td tr {
    width: 10vw;
}