:root {
    --vd: #0f0;
}
html {
    background-color: black;
    font-family: monospace;
    padding: 1vw;
}

body {
    padding: 3% 2%;
    border: 1px solid var(--vd);
}
.terminal {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    color: var(--vd);
    font-size: 1vw;
}
.terminal p, table{
    padding-left: 2.5em;
}
.dig {
    display: flex;
    animation-name: digitar;
    animation-fill-mode: both;
    overflow: hidden;
}
/* .pt1-perfil {
    animation-duration: 7s;
}
.pt2-hardsk {
    animation-duration: 7s;
    animation-delay: 3s;
}
.pt2-hardsk p{
    animation-name: cor;
    animation-delay: 3s;
    animation-fill-mode: both;
} */
.pt3-xp {
    flex-direction: column;
}
.pt3-xp p{
    animation-duration: 7s;
    /* animation-delay: 6s; */
}
.pt3-xp table {
    animation-duration: 7s;
    /* animation-delay: 9s; */
    
}
@keyframes digitar {
    from {
        width: 0;
    }
    to {
        width: 90vw;
    }
}
@keyframes cor {
    from{
        color: transparent;
    }
    to {
        color: var(--vd); 
    }
}